@model IEnumerable<DoAnHuynhQuocBao.Models.SanPham>
@{
    ViewBag.Title = "Home Page";
}


<h2 style="display:block;width:100%">Men's Shoes</h2>
<div class="row">
    @foreach (var item in ViewBag.splist)
    {
        <div class="col-sm-4" style="width:24.33%; position: relative; margin-top: 30px">
            <div class="thumbnail">
                <div style="width: 100%;height: 440px"><a><img src="~/Upload/@item.Hinh" style="object-fit: fill; width: 100%; height: 100%" /></a></div>
                <div class="caption">@item.TenSP</div>
                <div class="caption">@item.Gia₫</div>
                <div><a href="~/admin/NamA/edit/@item.ID"> Sửa</a><a href="~/admin/NamA/Delete/@item.ID" style="padding-left: 10%"> Xoá</a></div>
            </div>
        </div>
    }
</div>
